body {
  font-size: 16px;
  line-height: normal;
  padding: 0;
  margin: 0;
}

/* начало меню */
.top-menu {
  position: relative;
  background: rgb(90, 137, 165);
}

.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-main:after {
  content: "";
  display: table;
  clear: both;
}

.left-item {
  float: left;
  margin-right: 0.1em;
}

.right-item {
  float: right;
  font-weight: normal;
}

.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  

}

.here {
  background-color: #2f5a7a;
}

.menu-main a:hover {
  background: #2f5a7a;
}

/* закончилось меню */

#answer-dna,
#answer-rna,
#answer,
.add-form {
  margin-top: 3em;
  display: flex;
  width: 60%;
  margin-left: 2em;
}

.rna-to-dna {
  padding-top: 2em;
}

.hint {
  font-size: 0.8em;
  margin-left: 3.8em;
}

#answer,
#answer-dna,
#answer-rna {
  box-sizing: border-box;
  height: 46px;
  margin-right: 16px;
  margin-top: 1em;
  margin-bottom: 3em;
  padding-left: 1em;
  padding-top: 0.9em;
  font: inherit;

  border: 1px solid #bfc4c1;
  border-top: none;
  border-left: none;
  border-right: none;
}

.add-form-input {
  flex-grow: 1;

  box-sizing: border-box;
  height: 46px;
  margin-right: 16px;
  padding-left: 1em;
  font: inherit;

  border: 1px solid #a1b5c4;
  border-radius: 4px;
}

.add-form-input:focus {
  border: 1px solid #2f5a7a;
  outline: none;
}

.add-form-input:hover {
  box-shadow: 0 0 6px rgba(47, 89, 122, 0.6);
}

.add-form-input::placeholder {
  color: #a1b5c4;
}

.add-form-button {
  flex-shrink: 0;
  padding: 12px;

  font: inherit;
  color: #ffffff;

  background-color: #5581a0;
  border: none;
  border-radius: 4px;

  user-select: none;
  touch-action: manipulation;
}

.add-form-button:hover,
.add-form-button:focus {
  background-color: #3d729a;
  outline: none;
}

.add-form-button:active {
  background-color: #2f5a7a;
}

.comig-sone {
  margin-left: 3em;
  margin-top: 3em;
}

.comig-sone h1 {
  font-size: 1.5em !important;
  font-weight: normal;
  color: #7b7b7b;
}