
.field {
  clear: both; 
  text-align: right;
  line-height: 3em;
}
label {
  float: left;
  padding-right: 1em;
}
.main {
  float: left;
}

.add-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-form-input{
  margin: 0.2em;
}

.add-form-button {
  margin: 0.7em;
}